<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/module-webserver/css/master.css">
    <title>Document</title>
</head>
<header class="row">
    <div id="home" class="col-md-1">Home</div>
    <nav id="links" class="col-md-8">
        {{#each topLinks}}
        <div id={{this}} class="col-md-1">{{this}}</div>
        {{/each}}
    </nav>
    <div id="user" class="col">Hallo User</div>
</header>
<body class="row">
    <aside>
        <nav id="sideBar" class="col-md-2">
            <div id="entry1">Entry1</div>
            <div id="entry2">Entry2</div>
        </nav>
    </aside>
    <div>
        {{{body}}}
    </div>
</body>
<script src="/module-webserver/js/bundled-master.js"></script>
</html>