{{!-- Extends master layout --}}
{{#>layouts/master}}
    {{#*inline "master-layout-head-block"}}
     <script src="/module-fight/js/fightHelper.js"></script>
     <link rel="stylesheet" type="text/css" href="/module-fight/css/20SidedDie.css">
     <link rel="stylesheet" type="text/css" href="/module-fight/css/fighttable.css">
    {{/inline}}
    {{#*inline "master-layout-body-block"}}
        <div class="fighter-helper-page-body">
            <div class="fighter-page-container">
                <div class="add-fighter-form-container">
                    <form class="fighter-input-form" id="fighter-input-form">
                        <input class="fighter-form-inputfield" type="text" name="fighter-name" title="NAME"
                               placeholder="name">
                        <input class="fighter-form-inputfield fighter-value-field" type="number" name="fighter-TP"
                               title="TP" placeholder="TP">
                        <input class="fighter-form-inputfield fighter-value-field" type="number" name="fighter-INIT"
                               title="INIT" placeholder="INIT">
                        <input class="fighter-form-inputfield fighter-value-field" type="number" name="fighter-RK"
                               title="RK" placeholder="RK">
                        <input type="checkbox" name="unit-Type" title="isMonster">
                    </form>
                    <button class="fighter-table-submit" onclick="fightHelper.orderFighters(); fightHelper.sortTable();">+</button>
                </div>
                <div class="fighter-table-container">
                    <table class="fightOrderTable" id="fight-order-table">
                        <tbody>
                        {{!-- Fighter cells will go here via JS script --}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="20SidedDie-container" style="display: none;">
                {{>20sidedDie}}
            </div>
        </div>
    {{/inline}}
    {{#*inline "master-layout-script-footer"}}
        <script>
            fightHelper.initFighter('Khij', '10', '0', '17', 'hero');
            fightHelper.initFighter('Argek', '16', '0', '17', 'hero');
            fightHelper.initFighter('Dorn', '20', '0', '18', 'hero');
            fightHelper.initFighter('Shimnar', '12', '0', '14', 'hero');
            fightHelper.initFighter('Cpt. Blaubart', '30', '0', '13', 'hero');
            fightHelper.initFighter('Gavin', '13', '0', '17', 'hero');
        </script>
    {{/inline}}
{{/layouts/master}}