<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/module-webserver/css/master.css">
    <link rel="stylesheet" type="text/css" href="/module-webserver/css/sidemenu.css">
    {{#> master-layout-head-block}}
        {{!-- Additional head content can be added here --}}
    {{/master-layout-head-block}}
    <title>
        {{#if title}}
            {{title}}
        {{else}}
            Document
        {{/if}}
    </title>
</head>
<header class="row">
    <div id="home" class="col-md-1">Home</div>
    {{#>master-layout-link-bar}}
    <nav id="links" class="col-md-8">
        <div id="link1" class="col-md-1">Link1</div>
    </nav>
    {{/master-layout-link-bar}}
    {{#>master-layout-user-block}}
    <div id="user" class="col">Hallo User</div>
    {{/master-layout-user-block}}
</header>
<body class="row">
    <aside>
        <nav id="sideBar" class="col-md-2">
            {{#>dynamic-menu-block}}
                {{!-- Defaults to the dynamic Menu partial, but can be overwritten by any other input --}}
                {{>dynamicMenu}}
            {{/dynamic-menu-block}}
        </nav>
    </aside>
    <div>
        {{#>master-layout-body-block}}
            {{!-- Content for body of master layout goes here. You have to extend this layout for that --}}
        {{/master-layout-body-block}}
    </div>
</body>
<script src="/module-webserver/js/sideMenu.js"></script>
<script src="/module-webserver/js/master.js"></script>
{{#> master-layout-script-footer}}
    {{!-- Additional footer scripts can go here --}}
{{/master-layout-script-footer}}
</html>