.fighter-form-field-container{
    display: block;
}

#fighter-form-top-row .fighter-form-field-container{
    display: inline-block;
}

#fighter-form-bottom-col-container>div{
    display: inline-block;
}

.fighter-miniform-image {
    width: 20px;
    height: 20px;
}

.fighter-form-field-label {
    background: #818181;
    color: white;
    margin-right: 2px;
    border-radius: 4px;
    padding: 2px;
}